/* Export to PDF style */
@media print {
	body * {
		visibility: hidden;
	}
	.divLeft, .divLeft * {
		visibility: visible;
		-webkit-print-color-adjust: exact;
	}
	.divLeft {
		position: absolute;
		left: 0;
		top: 0;
	}
}

/* Main style */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:disabled {
    cursor: not-allowed;
	opacity: 0.5;
}
html{
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

input[type="file"] {
	font-size: 10px;
}
input[placeholder]{
	color: #a3a3a3;
	font-size: 11px;
}

#fixedDIV {
	height: 85%;
	width: 85%;
	background-color: #fbfbfb;
}

#selectOptions {
	text-align: center;
}

.hoverRow:hover {
	background: #d3d3d3;
}

#savedProjectsSpan{
	width: 98%;
	border: 2px solid #3b3bff;
	text-align: center;
	margin: 1%;
	padding: 10px;
	background-color: rgba(0,100,255,0.6);
	box-shadow: 0 0 10px 1px #3b3bff;
	border-radius: 25px;
	color: #00009d;
}

.loadfilediv2{
	width: 100%;
	border: 3px dotted pink;
	border-top: none;
	text-align: center;
	margin: 0 10px 10px 10px;
	padding: 10px;
	background-color: rgb(255,255,240);
	color: rgb(255,100,150);
}

.loadfilediv{
	width: 100%;
	border: 3px dotted pink;
	border-bottom: 1px solid pink;
	text-align: center;
	margin: 10px 10px 0 10px;
	padding: 10px;
	background-color: rgb(255,255,240);
	color: rgb(255,100,150);
	cursor: pointer;
}

.triangleRight {
	width: 0;
	height: 0;
	margin: 2px;
	padding: 0;
	border-style: solid;
	border-width: 7.5px 0 7.5px 13.0px;
	border-color: transparent transparent transparent #d3d3d3;
	border-radius: 0;
	background: none;
	content: none;
	float:left;
}

.triangleRight:hover {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 0 7.5px 13.0px;
	border-color: transparent transparent transparent #d3d3d3;
	border-radius: 0;
	background: none;
	content: none;
}

.triangleLeft {
	border-width: 7.5px 13.0px 7.5px 0;
	border-color: transparent #d3d3d3 transparent transparent;
}
.triangleLeft:hover {
	border-width: 7.5px 13.0px 7.5px 0;
	border-color: transparent #d3d3d3 transparent transparent;
}

.divLeft {
	width: 80%;
	height: 100%;
	float: left;
}
.divCenter {
	width: 2%;
	height: 100%;
	float: left;
}
.divCenterRight {
	float: right;
}
.divRight {
	width: 18%;
	height: 98%;
	float: right;
}
#menu {
	border-left: 1px solid #d3d3d3;
	background-color: #fdfdfd;
	color: #999;
	height: 100%;
	overflow: auto;
	position: fixed;
}
#horLine {
	height: 70%;
	border-right: 1px solid #d3d3d3;
}
.loginRegisterBtn {
	color: #404040;
	margin-top: 5px;
}
#loginRegisterDIV {
	color: #404040;
	border-radius: 25px;
	margin-top: 10%;
	height: 60%;
	width: 60%;
	display: flex;
	align-items: center;
	margin-left: 30%;
	border: 1px solid #d3d3d3;
	background: #f3f3f3;
}
#loginDIV {
	float: left;
	padding-left: 15%;
	padding-right: 15%;
}
#registerDIV {
	padding-left: 13%;
	float: right;
}

button {
	border: 1px solid #c0c0c0;
	border-radius: 10px;
}
button:hover {
	cursor: pointer;
	border: 1px solid #b0b0b0;
	background: #e0e0e0;
}

#cellInput, #cellClear, #NetInput, #NetClearInput, #BoxInput {
	width: 80px;
	border:none;
	border-bottom: 2px solid #e0e0e0;
	padding: 4px;
	margin: 4px;
	background: #f1f1f1;
}
#cellInput:focus, #cellClear:focus, #NetInput:focus, #NetClearInput:focus, #BoxInput:focus {
	border: 1px solid #c0c0c0;
	background: #e1e1e1;
}
#cellInfoHeader {
	display: none;
	font-size: 11px;
	overflow: auto;
	max-height: 300px;
}
#executedTime, #executedTimeData2, #executedTimeData3, #executedTimeData4, #executedTimeData5, #executedTimeData6, #executedTimeData7 {
	font-size: 12px;
}

.TDdeleteRow {
	cursor: pointer;
}
.TDdeleteRow:hover {
	text-decoration: underline;
}

.cellInfo {
	border: 1px solid #d3d3d3;
	border-collapse: collapse;
}
.cellInfo td, .cellInfo th {
	text-align: center;
    border: 1px solid #dddddd;
    padding: 2px;
}
.cellInfo tr:nth-child(even) {
    background-color: #eaeaea;
}

ul, li {
	list-style: none;
	display: block;
	margin: 5px;
	padding: 0;
}

hr {
	width: 80%;
	border: 1px solid #f0f0f0;
}

.toggle-button, .toggle-button2, .toggle-button3, .toggle-button4, .toggle-button5 {
	background-color: white;
	margin: 5px 0;
	border-radius: 20px;
	border: 2px solid #D0D0D0;
	height: 15px;
	cursor: pointer;
	width: 50px;
	position: relative;
	display: inline-block;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}
.toggle-button button, .toggle-button2 button, .toggle-button3 button, .toggle-button4 button {
	cursor: pointer;
	outline: 0;
	display:block;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	background-color: white;
	float: left;
	margin: -3px 0 0 -3px;
	border: 2px solid #D0D0D0;
	transition: left 0.3s;
}
.toggle-button-selected, .toggle-button-selected2, .toggle-button-selected3, .toggle-button-selected4 {
	background-color: #83B152;
	border: 2px solid #7DA652;
}
.toggle-button-selected button, .toggle-button-selected2 button, .toggle-button-selected3 button, .toggle-button-selected4 button {
	left: 34px;
	top: 0;
	margin: -3px 0 0 -3px;
	border: 2px solid #D0D0D0;
	width: 20px;
	height: 20px;
	box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

table.statistics {
	margin-left: 25%;
	border-collapse: collapse;
    width: 50%;
	border: 1px solid #c0c0c0;
}

table.statistics th, table.statistics td {
    text-align: left;
    padding: 8px;
	border: 1px dashed #c0c0c0;
}
table.statistics tr:nth-child(even){background-color: #f2f2f2}